@model AlbumModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Create Album";
}

<h1>@ViewData["Title"]</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-12">
		<form asp-action="Create" autocomplete="off">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="PublishedYear" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="PublishedYear" class="form-control datetimepicker" type="text" />
					<span asp-validation-for="PublishedYear" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<label asp-for="IsAvailable" class="col-2 col-form-label"></label>
				<div class="col-5" style="padding-top: 7px;">
					<input class="form-check-input" asp-for="IsAvailable" />
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Price" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="MusicIdInput" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select multiple asp-for="MusicIdInput" class="form-select" asp-items="ViewBag.Music">
					</select>
					<span asp-validation-for="MusicIdInput" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="Index">Back to List</a>
				</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <link href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

	<script>
		$(function () {
			$(".datetimepicker").datetimepicker({
				timepicker: false,
				format: "m/d/y"
			});
		});
	</script>
}


